@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@300;400;500;600;700;800;900&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
    font-family: 'Noto Sans Thai', sans-serif;
    list-style-type: circle;
}
body {
    background: linear-gradient(45deg,#3e0153,#a805df);
	height: 100vh;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.container{
    width: 100%;
    height: 100vh;
    padding: 70px;
}
.wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 0 10%;
    overflow: hidden;
}
.wrapper::before{
    position: absolute;
    content:'';
    height: 600px;
    width: 600px;
    border-radius: 50%;
    left: -12%;
    top: 40%;
    background: linear-gradient(45deg,#7f00ff,pink);
    animation: object1 6s linear infinite;
    -webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
	-moz-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
	box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
}
.wrapper::after{
    position: absolute;
    content:'';
    height: 300px;
    width: 300px;
    border-radius: 50%;
    right: 1%;
    top: 2%;
    background: linear-gradient(45deg,#7f00ff,pink);
    animation: object2 6s linear infinite;
    -webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
	-moz-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
	box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
}

@keyframes object1{
    50%{
        left: -13%;
        top: 41%;
    }
}

@keyframes object2{
    50%{
        right: 2%;
        top: 3%;
    }
}

.cols{
    width: 50%;
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.topline{
    display: block;
    position: relative;
    font-size: 65px;
    font-weight: 900;
    letter-spacing: 5px;
    color: #ffffff;
}
.topline::after{
    position: absolute;
    content: '';
    height: 4px;
    width: 45px;
    bottom:10px;
    background: #b580eb;
}
h1{
    display: block;
    font-style: 35px;
    font-weight: 900;
    color: #ffffff;
}
.multiText,.multiText2,.multiText3{
    color: #b580eb;
    text-transform: capitalize;
}
.imgbox{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 150px;
}
.imgbox img{
    position: relative;
    height: 100%;
    width: 100%;
}
.ball{
    position: absolute;
    content:'';
    height: 280px;
    width: 280px;
    border-radius: 50%;
    background: linear-gradient(45deg,#7f00ff,pink);
    -webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
	-moz-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
	box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
    overflow: hidden;

}
.history{
    margin-top: 50px;
    color: #ffff;
}
.history li {
    margin-top: 30px;
    font-size: 15px;
}
.cols2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.text{
    margin-bottom: 100px;
    color: #ffff;
}
.text ul li{
    margin-bottom: 20px;
}
p{
    margin-bottom: 10px;
}
.texthead{
    margin-bottom: 30px;
}
.content{
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}


@media only screen and (max-width: 1600px) {

    .ball{
        height: 450px;
        width: 450px;
    }
    .wrapper::before{
        height: 450px;
        width: 450px;
    }
    .wrapper::after{
        height: 150px;
        width: 150px;
    }
  }

@media only screen and (max-width: 1280px) {

    .ball{
        height: 300px;
        width: 300px;
    }
    .wrapper::before{
        height: 300px;
        width: 300px;
    }
    .wrapper::after{
        height: 100px;
        width: 100px;
    }
  }


  #background-wrap {
    bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: -1;
}

/* KEYFRAMES */

@-webkit-keyframes animateBubble {
    0% {
        margin-top: 1000px;
    }
    100% {
        margin-top: -100%;
    }
}

@-moz-keyframes animateBubble {
    0% {
        margin-top: 1000px;
    }
    100% {
        margin-top: -100%;
    }
}

@keyframes animateBubble {
    0% {
        margin-top: 1000px;
    }
    100% {
        margin-top: -100%;
    }
}

@-webkit-keyframes sideWays { 
    0% { 
        margin-left:0px;
    }
    100% { 
        margin-left:50px;
    }
}

@-moz-keyframes sideWays { 
    0% { 
        margin-left:0px;
    }
    100% { 
        margin-left:50px;
    }
}

@keyframes sideWays { 
    0% { 
        margin-left:0px;
    }
    100% { 
        margin-left:50px;
    }
}

/* ANIMATIONS */

.x1 {
    -webkit-animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
    background: linear-gradient(45deg,#7f00ff,pink);
	
	left: -5%;
	top: 5%;
	
	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
	transform: scale(0.6);
}

.x2 {
    -webkit-animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
	-moz-animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
	animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
    background: linear-gradient(45deg,#7f00ff,pink);
	
	left: 5%;
	top: 80%;
	
	-webkit-transform: scale(0.4);
	-moz-transform: scale(0.4);
	transform: scale(0.4);
}

.x3 {
    -webkit-animation: animateBubble 28s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 28s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 28s linear infinite, sideWays 2s ease-in-out infinite alternate;
    background: linear-gradient(45deg,#7f00ff,pink);
	
	left: 10%;
	top: 40%;
	
	-webkit-transform: scale(0.7);
	-moz-transform: scale(0.7);
	transform: scale(0.7);
}

.x4 {
    -webkit-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
	-moz-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
	animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
    background: linear-gradient(45deg,#7f00ff,pink);
	
	left: 20%;
	top: 0;
	
	-webkit-transform: scale(0.3);
	-moz-transform: scale(0.3);
	transform: scale(0.3);
}

.x5 {
    -webkit-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
	-moz-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
	animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
    background: linear-gradient(45deg,#7f00ff,pink);
	
	left: 30%;
	top: 50%;
	
	-webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
	transform: scale(0.5);
}

.x6 {
    -webkit-animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;
    background: linear-gradient(45deg,#7f00ff,pink);
	
	left: 50%;
	top: 0;
	
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	transform: scale(0.8);
}

.x7 {
    -webkit-animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;
    background: linear-gradient(45deg,#7f00ff,pink);
	
	left: 65%;
	top: 70%;
	
	-webkit-transform: scale(0.4);
	-moz-transform: scale(0.4);
	transform: scale(0.4);
}

.x8 {
    -webkit-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
	-moz-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
	animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
    background: linear-gradient(45deg,#7f00ff,pink);
	
	left: 80%;
	top: 10%;
	
	-webkit-transform: scale(0.3);
	-moz-transform: scale(0.3);
	transform: scale(0.3);
}

.x9 {
    -webkit-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
	-moz-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
	animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
    background: linear-gradient(45deg,#7f00ff,pink);
	
	left: 90%;
	top: 50%;
	
	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
	transform: scale(0.6);
}

.x10 {
    -webkit-animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;
    background: linear-gradient(45deg,#7f00ff,pink);
	
	left: 80%;
	top: 80%;
	
	-webkit-transform: scale(0.3);
	-moz-transform: scale(0.3);
	transform: scale(0.3);
}

/* OBJECTS */

.bubble {
    -webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	
    -webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
	-moz-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
	box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
	
    height: 200px;
	position: absolute;
	width: 200px;
}

.bubble:after {
    background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 70%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,0.5)), color-stop(70%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%); /* IE10+ */
    background: radial-gradient(ellipse at center,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	
    -webkit-box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
	-moz-box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
	box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
	
	content: "";
    height: 180px;
	left: 10px;
	position: absolute;
	width: 180px;
}

@keyframes singular-top {
    0% {
        background-position: 200% 0%;
   }
    25% {
        background-position: 100% 0%;
   }
    50% {
        background-position: -60% 0%;
   }
    100% {
        background-position: -60% 0%;
   }
}
@keyframes singular-right {
    0% {
        background-position: 0% 200%;
   }
    25% {
        background-position: 0% 200%;
   }
    50% {
        background-position: 0% 100%;
   }
    75% {
        background-position: 0% -60%;
   }
    100% {
        background-position: 0% -60%;
   }
}
@keyframes singular-bottom {
    0% {
        background-position: 200% 0%;
   }
    50% {
        background-position: 200% 0%;
   }
    75% {
        background-position: 100% 0%;
   }
    100% {
        background-position: -60% 0%;
   }
}
@keyframes singular-left {
    0% {
        background-position: 0% 200%;
   }
    50% {
        background-position: 0% 200%;
   }
    75% {
        background-position: 0% 100%;
   }
    100% {
        background-position: 0% -60%;
   }
}
/** * Double lined animation */
@keyframes double-top {
    0% {
        background-position: 200% 0%;
   }
    50% {
        background-position: 100% 0%;
   }
    100% {
        background-position: -60% 0%;
   }
}
@keyframes double-right {
    0% {
        background-position: 0% 200%;
   }
    50% {
        background-position: 0% 100%;
   }
    100% {
        background-position: 0% -60%;
   }
}
@keyframes double-bottom {
    0% {
        background-position: 200% 0%;
   }
    50% {
        background-position: 100% 0%;
   }
    100% {
        background-position: -60% 0%;
   }
}
@keyframes double-left {
    0% {
        background-position: 0% 200%;
   }
    50% {
        background-position: 0% 100%;
   }
    100% {
        background-position: 0% -60%;
   }
}

.rectangle {
    position: relative;
    margin: 0 auto 1rem;
    border-radius: 0.5rem;
}
.rectangle.anim-singular .top-bottom::before {
    animation: singular-top 1.5s linear infinite;
}
.rectangle.anim-singular .top-bottom::after {
    animation: singular-bottom 1.5s linear infinite;
}
.rectangle.anim-singular .left-right::before {
    animation: singular-left 1.5s 0.375s linear infinite;
}
.rectangle.anim-singular .left-right::after {
    animation: singular-right 1.5s linear infinite;
}
.rectangle.anim-double .top-bottom::before {
    animation: double-top 0.75s linear infinite;
}
.rectangle.anim-double .top-bottom::after {
    animation: double-bottom 0.75s linear infinite;
}
.rectangle.anim-double .left-right::before {
    animation: double-left 0.75s 0.375s linear infinite;
}
.rectangle.anim-double .left-right::after {
    animation: double-right 0.75s 0.375s linear infinite;
}
.top-bottom::before, .left-right::before, .top-bottom::after, .left-right::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 0.5rem;
}
.top-bottom::before, .top-bottom::after {
    background-image: linear-gradient(to right, transparent 20%, #7f00ff 50%, pink 100%); 
    background-size: 200% 3px;
    background-position: 200% 0%;
    background-repeat: no-repeat;
}
.top-bottom::after {
    transform: scale(-1, -1);
}
.left-right::before, .left-right::after {
    background-image: linear-gradient(to bottom, transparent 20%, #7f00ff 50%, pink 100%); 
    background-size: 3px 200%;
    background-position: 0% 200%;
    background-repeat: no-repeat;
}
.left-right::before {
    transform: scale(1, -1);
}
.left-right::after {
    transform: scale(-1, 1);
}
